<div class="container">
  <h1>THIS IS EVERYTHING</h1>
  <p id= "response">Hello, world!</p>

  <table>

  <a id= "say_something" href="/say">Say Something</a><br><br>
  <a id= "hacker" href="">HACKER</a><br><br>
  <a id= "company" href=>COMPANY</a><br><br>

  </table>
</div>
